{#
/**
 * @file
 * Override of image template.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 */
#}
{% if in_picture %}
  <img{{ attributes }}>
{% else %}
  <picture{{ picture_attributes }}>
    {%- for source_attributes in sources -%}
      <source{{ source_attributes }}/>
    {%- endfor -%}
    <img{{ attributes }}>
  </picture>
{% endif %}
