{% if link_url %}
  <a href="{{ link_url }}">
{% endif %}
{% if inline %}
  {{ svg_data|raw }}
{% else %}
  <picture{{ picture_attributes }}>
    <img{{ attributes }} src="{{ file_url(uri) }}" />
  </picture>
{% endif %}
{% if link_url %}
  </a>
{% endif %}
